
    



<div class="position-relative w-100 mt-5">
    
    <h1 id="title-index" class="">Pront Clinic</h1>
    <p id="texto-index" class="fw-semibold fs-5">Faça login para começar</p>
    <a id="btn-index" class="btn btn-primary" asp-controller="Login" asp-action="Create">Entrar</a>
</div>

