@using SistemaHospitalar.Domain.Entities
@using SistemaHospitalar.Domain.Enum
@model SistemaHospitalar.Domain.DTO.MedicoDTO

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center title-page">
    <h1 class="display-1 fw-bold text-success mt-5 mb-5"><strong>Editar Médico</strong></h1>
</div>                      


<form asp-controller="Medicos" asp-action="Edit" method="post">
 <div class="container">
    <div class="row justify-content-center">
    <div class="col-3">
        <div class="form-group text-dark">

        <div class="form-group">
            <input asp-for="id" type="hidden" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
        <input type="hidden" asp-for="pessoaId" class="form-control" asp-items="ViewBag.pessoaId">
        </div>

        <div class="form-group">
        <label asp-for="especialidade" for="especialidadeId" class="color-label">Especialidade Médica</label>
        <select asp-for="especialidadeId" class="form-control" asp-items="ViewBag.especialidadeId"></select>
        <span asp-validation-for="especialidadeId" class="text-danger"></span>  
        </div>

        <div class="form-group">
        <label asp-for="crm" for="crm" class="color-label">CRM</label>
        <input asp-for="crm" class="form-control">
        <span asp-validation-for="crm" class="text-danger"></span>  
        </div>

        <div class="buttons-edit-create form-group mt-3 d-flex">
            <input type="submit" class="btn btn-warning btn-sm float-start btn-block w-100" id="button-editar" value="Salvar">
            <a onclick="editPessoa(`../../Pessoas/Edit/@Model.pessoaId`)" class="btn btn-sm btn-primary ms-2 float-end btn-bloc w-100" data-bs-toggle="modal" data-bs-target="#formModal">Editar Dados Pessoais</a>

         </div> 
         <a class="btn btn-dark float-none btn-bloc w-100 mt-3" asp-action="Index">Voltar para Lista</a>


    </div>
 </div> 

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

            <script>
                    
            </script>
    }



